.excerpt {
    width: 50%;
    padding: 1em;
    margin: 1em auto;
    border: 1px solid;
}

.book {
    background-color: brown;
    width: 300px;
    display: flex;
}

.book-cover {
    width: 200px;
}
