.catalog {
    display: flex;
}

.header_text {
    font-family: Helvetica, arial, sans-serif;
    font-size: 3em;
    text-align: center;
}

.book-container {
    background-color: white;
    border: 5px solid black;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 2em;
}

.book-cover {
    width: 200px;
}

.details-container {
    text-align: center;
    font-family: helvetica, arial, sans-serif;
    font-size: 1em;
}
